.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    border-top: 1px solid #797979;
    padding: 15px 0;
    justify-content: space-between;
}


.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

@media (max-width: 500px){
    .footer{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer ul li{
        margin: 0 10px;
    }
}